<!DOCTYPE html>
<!--suppress XmlUnboundNsPrefix -->
<html lang="en">
<head th:replace="fragments/headTag :: headTag"></head>
<body>
<div class="container">
    <div th:include="fragments/bodyHeader" th:remove="tag"></div>
    <form th:method="post" th:action="@{${#httpServletRequest.servletPath}}" class="form-horizontal"
          id="add-owner-form">
        <div class="control-group">
            <label class="control-label">First Name</label>

            <div class="controls">
                <input type="text" th:placeholder="|First name|" th:field="${user.firstName}"/>
                <span class="help-inline" th:errors="${user.firstName}">[error]</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Last Name</label>

            <div class="controls">
                <input type="text" th:placeholder="|Last name|" th:field="${user.lastName}"/>
                <span class="help-inline" th:errors="${user.lastName}">[error]</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Type </label>
            <select>
                <option th:each="type : ${types}"
                        th:text="${type.name}"
                        th:value="${type.id}">[option]
                </option>
            </select>
        </div>
        <div class="form-actions">
            <button type="submit" name="doUpdate" value="update">Update</button>
        </div>
    </form>
    <table th:replace="fragments/footer :: footer" class="footer"></table>
</div>
</body>
</html>