<!DOCTYPE html>
<!--suppress XmlUnboundNsPrefix -->
<html lang="en">
<head th:replace="fragments/headTag :: headTag">
</head>
<body>
<div class="container">
    <div th:include="fragments/bodyHeader" th:remove="tag">
    </div>
    <h2 th:text="#{forms.users.title}">Users</h2>
    <table class="table table-stripped" style="width:600px;">
        <thead>
        <tr>
            <th text="#{forms.users.title}">Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users.userList}">
            <td><a th:href="@{/users/remove/} + ${user.id}">X</a></td>
            <td th:text="|${user.firstName} ${user.lastName}|">[firstName lastName]</td>
        </tr>
        </tbody>
    </table>
    <table th:replace="fragments/footer :: footer" class="footer">
    </table>
</div>
</body>
</html>