<!DOCTYPE html>

<html lang="en">

<head th:replace="fragments/headTag :: headTag">
</head>

<body>
<div class="container">
    <div th:include="fragments/bodyHeader" th:remove="tag">
    </div>

    <h2>Users</h2>

    <table class="table table-stripped" style="width:600px;">
        <thead>
        <tr>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users.userList}">
                <td th:text="|${user.firstName} ${user.lastName}|">[firstName lastName]</td>
            </tr>
        </tbody>
    </table>

    <table th:replace="fragments/footer :: footer" class="footer">
    </table>

</div>
</body>

</html>
