<!DOCTYPE html>
<!--suppress XmlUnboundNsPrefix -->
<html lang="en">
<body th:fragment="bodyHeader">
<img th:src="@{/resources/images/banner-graphic.png}"
     src="../../../resources/images/banner-graphic.png"/>

<div class="navbar" style="width: 601px;">
    <div class="navbar-inner">
        <ul class="nav">
            <li style="width: 100px;"><a href="../welcome.html" th:href="@{/}"><i class="icon-home"></i>Home</a></li>
            <li style="width: 140px;"><a href="../users/userList.html" th:href="@{/users.html}"><i
                    class="icon-th-list"></i>Users</a></li>
        </ul>
    </div>
</div>
</body>
</html>